# Common
DOCKER_TIMEZONE=UTC

# Set to your UID or comment line and pass from shell
DOCKER_UID=1000

# Set to your GID or comment line and pass from shell
DOCKER_GID=1000

# Nginx container
NGINX_PORT=80

# MySQL container
MYSQL_5_7_ROOT_PASS=secret
MYSQL_5_7_USER=dev
MYSQL_5_7_PASS=secret
MYSQL_5_7_PORT=4307

MYSQL_8_0_ROOT_PASS=secret
MYSQL_8_0_USER=dev
MYSQL_8_0_PASS=secret
MYSQL_8_0_PORT=4308

# Mongo container
MONGO_PORT=27017

# Redis container
REDIS_PORT=6379

# RabbitMQ container
RABBITMQ_CLIENT_PORT=5672
RABBITMQ_MANAGE_PORT=15672
RABBITMQ_DEFAULT_USER=dev
RABBITMQ_DEFAULT_PASS=secret

# PHP Container (make xdebug separate for specific versions)
PHP_7_3_ENABLE_XDEBUG=
PHP_7_3_PORT=9003

PHP_7_4_ENABLE_XDEBUG=
PHP_7_4_PORT=9004

PHP_8_0_ENABLE_XDEBUG=
PHP_8_0_PORT=9006
