# Docker containers
.env

/.ssh/**
!/.ssh/.gitkeep

/nginx/logs/**
!/nginx/logs/.gitkeep
/nginx/sites-enabled/**
!/nginx/sites-enabled/.gitkeep

/mysql-5.x/data/**
!/mysql-5.x/data/.gitkeep
/mysql-5.x/dump/**
!/mysql-5.x/dump/.gitkeep
/mysql-5.x/logs/**
!/mysql-5.x/logs/.gitkeep

/mysql-8.x/data/**
!/mysql-8.x/data/.gitkeep
/mysql-8.x/dump/**
!/mysql-8.x/dump/.gitkeep
/mysql-8.x/logs/**
!/mysql-8.x/logs/.gitkeep

/postgres/data/**
!/postgres/data/
/postgres/dump/**
!/postgres/dump/.gitkeep

/mongo-4.x/data/**
!/mongo-4.x/data/.gitkeep
/mongo-4.x/dump/**
!/mongo-4.x/dump/.gitkeep

/mongo-5.x/data/**
!/mongo-5.x/data/.gitkeep
/mongo-5.x/dump/**
!/mongo-5.x/dump/.gitkeep

/mongo-6.x/data/**
!/mongo-6.x/data/.gitkeep
/mongo-6.x/dump/**
!/mongo-6.x/dump/.gitkeep

/redis/data/**
!/redis/data/.gitkeep

/rabbitmq/data/**
!/rabbitmq/data/.gitkeep

/node-14/conf.d/**
!/node-14/conf.d/.gitkeep
/node-14/logs/**
!/node-14/logs/.gitkeep

# Projects
/projects/**
!/projects/.gitkeep

# IDE
.idea/
.DS_Store
